* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    border: 2px solid rgb(211, 39, 9);
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgb(247, 140, 126);
    padding: 20px;
    width: 300px;
    border: 2px dotted rgb(23, 77, 18);    
}

header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif0;    
    text-align: center;
    padding: 10px 20px;
}

header a {
    display: block;
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    background-color: rgb(211, 39, 9);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif0;
    text-decoration: none;
    color: aliceblue;    
    transition-property: all;
    transition-property: 0.2s;
}

header a:visited {
    background-color: rgb(23, 77, 18);
}

header a:hover {
    background-color: rgb(175, 164, 14);
    transform: scale(1.1);
}

header a:active {
    background-color: brown;
}

